@import url(/styles/font.css);
@import url(/styles/navbar.css);

:root { /** CSS Colour Palette **/
    --background-black: #1a1a1a;

    --navbar-grey: #222222;
    --navbar-light-grey: #3b3b3b;

    --text-black: #080808;
    --text-white: #F2F6FF;
    --hypertext-lime: #44dd36;
    --hypertext-light-lime: #8cff82;
}

body {
    background:var(--background-black);
}

#content {
    color: var(--text-white);
    font-size: 18px;

    margin-left: -8px;
    margin-top: -8px;
    /*margin-top: 44px; /* Required for fixed navbar, as fixed elements don't push other elements. 
    margin-left: 4px; /* More readable(?) if intruded to the right */ /* Objection: Gross. Use padding.*/
    padding-top: 24px;
    padding-left: 14px;
}
#content a {
    color: var(--hypertext-lime)
}#content a:hover{
    color: var(--hypertext-light-lime)
}