#navbar {
    cursor: default;
    background-color: var(--navbar-grey);
    border-color: var(--navbar-grey);

    border-width: 8px;
    padding: 8px;

    padding-right: 8px;
    margin: -8px/* -8px 10px -8px*/;

    top:8px;
    position: fixed;
    width: 100%;

}
#navbar>a {
    color: var(--text-white);

    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;

    text-decoration: none;
    border-radius: 6px;
}#navbar>a:not(.active):hover{
    animation: inactive-hover 0.1s forwards; /* Sick hover animation */
}#navbar>a.active{
    color: var(--text-black);
    background-color: var(--text-white);
}

#navbar:not(a)::selection {
    background-color:inherit /* Stops the spaces between navbar anchors from being quirky and appearing selected when the navbar is selected */
}

@keyframes inactive-hover {
    from {
        background-color:inherit
    }
    to {
        background-color:var(--navbar-light-grey)
    }
}